<app-search-bar></app-search-bar>
<div class="row py-5 px-0 mx-0">
    <div class="col-md-10 offset-md-1">
        <h3 class="text-black pl-3">Vehicles we rent</h3>
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let vehicle of vehicles">
                <mat-card class="shadow-none">
                    <img class="vehicle-card-img" mat-card-image src="../../../assets/images/{{vehicle.img}}"
                        alt={{vehicle.name}}>
                    <mat-card-content>
                        <h5>{{vehicle.name}}</h5>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row py-5 my-3 bg-light pr-md-5 px-3 pl-md-0">
            <div class="col-md-3 align-items-center m-auto">
                <h1 class="text-black pl-3 text-center pb-3 pb-md-0 m-auto">FAQs</h1>
            </div>
            <div class="col-md-9 p-md-0">
                <mat-accordion class="w-100" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Where will the pickup and drop off location be?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>At BIA (Bandaranayake International Airport), Colombo, Sri Lanka.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is the age required to rent a vehicle?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>The age depends on the vehicle chosen to rent. For example:<br />
                            Bicycle: 18<br />
                            Motorbike: 25<br />
                            Any other vehicle: 20
                        </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Will any additional fees be charged after returning the vehicle?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>None, unless the vehicle is damaged when returned.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Are any documents required to be shown before picking up the vehicle?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes. The following documents are required:</p>
                        <ol>
                            <li>Driving License</li>
                            <li>Proof of identity(Identity Card or Passport)</li>
                            <li>A valid debit or credit card.</li>
                        </ol>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>