.mat-card, .mat-figure, .mat-grid-tile{
    width: 100%;
    margin: 2.5% 3%;
    height: 600px;
}
#vehicleDet{
    padding: 6px 16px 16px 16px;
}


#bookingForm{
    margin: 1% 3%;
}
.mat-grid-list{
    height: 100%;
    padding: 0;
}

.mat-subheader{
    font-size: 18px;
    color: black;
}
#infoGrid{
    padding:0px;
}

.mat-list-item{
    max-height: 40px;
}

.mat-form-field{
    width: 100%;
}

#submitButton{
    margin: 0.4%;
}