<!--the card is used to have two form fields one for the pick up date and the other for the drop off date-->
<div class="row py-5 px-0 mx-0">
    <div class="col-md-10 offset-md-1 bg-light">
        <mat-card class="shadow-none bg-light">
            <h3 class="text-black">Book your next rental...</h3>
            <mat-card-content class="py-3">
                <div class="row px-2">
                    <div class="col-lg-5 col-md-6 text-lg-center">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Pick-Up Date</mat-label>
                            <!--the pick up date-->
                            <input matInput [matDatepicker]="pickUpDate1" [min]="minPickUpDate" [max]="maxPickUpDate"
                                placeholder="Pick-up Date" (dateChange)="setDropOffDate($event)"
                                [formControl]="pickUpDate" required>
                            <mat-datepicker-toggle [for]="pickUpDate1" matSuffix>
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickUpDate1></mat-datepicker>
                        </mat-form-field>
                        <!--end of pick up date-->
                    </div>
                    <div class="col-lg-5 col-md-6 text-lg-center">
                        <!--drop off date-->
                        <mat-form-field  class="w-100" appearance="outline">
                            <mat-label>Drop-Off Date</mat-label>
                            <input matInput [matDatepicker]="dropOffDate1" [min]="minDropOffDate" [max]="maxDropOffDate"
                                placeholder="Drop-off Date" [formControl]="dropOffDate" required>
                            <mat-datepicker-toggle [for]="dropOffDate1" matSuffix>
                            </mat-datepicker-toggle>
                            <mat-datepicker #dropOffDate1></mat-datepicker>
                        </mat-form-field>
                        <!--end of drop off date-->
                    </div>
                    <div class="col-lg-2">
                        <!--the submit button is used to validate the date and show the available vehicles for the chosen schedule-->
                        <mat-card-actions id="selectDateButton" class="text-md-center text-lg-left m-auto">
                            <button mat-raised-button class="bg-primary text-white" (click)="onSubmit()">SEARCH</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card-content>

        </mat-card>
    </div>
</div>